In [1]:
a=10
b=20
if a<b:
    print("if is true")
    print("if is true")

if is true
if is true

In [2]:
if a>b:
    print("if is true")
    print("if is true")
else:
    print("if is false")

if is false

In [3]:
temp=input()

23

In [6]:
temp=int(input("enter the temperature today:"))
if temp>30:
    print("it is hot weather today")   
else:
    print("it is normal day")

enter the temperature today:34
it is hot weather today

In [7]:
cnic=input("do you have cnic?")
if cnic=='yes':
    print("go inside")
    nameinlist= input("is my name is in list?")
    if nameinlist=='yes':
        print("please cast your vote")
else:
    print("you can not caste the vote")

do you have cnic?yes
go inside
is my name is in list?yes
please cast your vote

In [8]:
marks =int(input("enter your marks:"))
grade=''
if marks>90:
    grade="A*"
elif marks >80:
    grade="A"
elif marks >70:
    grade="B"
elif marks >60:
    grade="C"
elif marks >50:
    grade="D"
else:
    grade = "ungraded"
print(f'your marks are {marks} and your grade is {grade}')

enter your marks:45
your marks are 45 and your grade is ungraded

In [2]:
#print("hello") yeh comment hay

In [2]:
'''hello hello hello paragrafh'''

'hello hello hello paragrafh'

In [6]:
# print("hello")
# print("hello")
# print("hello")

In [11]:
cnic=input("do you have cnic?")
nameinlist=input("is my name in list?")
if(cnic=='yes')and(nameinlist=='yes'):
    print("caste your vote")
else:
    print("you can not caste vote")

do you have cnic?no
is my name in list?yes
you can not caste vote

In [12]:
cnic=input("do you have cnic?")
nameinlist=input("is my name in list?")
if(cnic=='yes')or(nameinlist=='yes'):
    print("caste your vote")
else:
    print("you can not caste vote")

do you have cnic?yes
is my name in list?no
caste your vote

In [13]:
students=['asad','sana',"farah"]
students

['asad', 'sana', 'farah']

In [15]:
students=['asad','sana',"farah"]
students[2]

'farah'

In [18]:
students.append("sam")
students

['asad', 'sana', 'farah', 'sam']

In [19]:
students.insert(3,"azam")
students

['asad', 'sana', 'farah', 'azam', 'sam']

In [21]:
del students[3]

In [22]:
students

['asad', 'sana', 'farah', 'sam']

In [23]:
students[1]="sameer"
students

['asad', 'sameer', 'farah', 'sam']

In [9]:
numbers=[7,9,34,98,90]
poppedList=[]

[34]
[7, 9, 67]

In [11]:
poppedElement=numbers.pop()
poppedList.append(poppedElement)
print(numbers)
print(poppedList)

IndexError: pop from empty list

In [ ]:
numbers=[7,9,34,98,90]

In [12]:
poppedList=[]

In [13]:
if len(numbers)!=0:
    poppedList.appened(numbers.pop())
    print(poppedList)
else:
    print("your list is empty")

your list is empty

In [21]:
list1 =[1,2,["apple","banana","orange"] ] 
list1

[1, 2, ['apple', 'banana', 'orange']]

In [22]:
list1[2][2]

'orange'

In [28]:
students=["ali",378,'hussain','karachi','a']
fruits=["orangr","peach","apple","mango"]
abc=[23,89,3,students,fruits,'abcd']
abc

[23,
 89,
 3,
 ['ali', 378, 'hussain', 'karachi', 'a'],
 ['orangr', 'peach', 'apple', 'mango'],
 'abcd']

In [2]:
students=["ali",378,'hussain','karachi','a']
fruits=["orangr","peach","apple","mango"]
abc=[23,89,3,students,fruits,'abcd']
abc[4].remove('apple')
abc

[23,
 89,
 3,
 ['ali', 378, 'hussain', 'karachi', 'a'],
 ['orangr', 'peach', 'mango'],
 'abcd']

In [38]:
del abc[3][3]
abc#remove karachi by index

[23, 89, 3, ['ali', 378, 'hussain'], ['orangr', 'peach', 'mango'], 'abcd']

# slicing

In [40]:

#index  -6 -5 -4 -3 -2 -1
numbers=[29,67,45,3,89,90]
#index     0 1  2  3 4  5
numbers

[29, 67, 45, 3, 89, 90]

In [42]:
numbers[-5]

67

In [44]:
numbers[1:3]

[67, 45]

In [45]:
numbers[1:5]#included: not included

[67, 45, 3, 89]

In [46]:
numbers[1:5:2]

[67, 3]

In [48]:
numbers=[29,67,45,3,89,90,4,]
numbers[1:7:3]

[67, 89]

In [7]:
numbers=[29,67,45,3,89,90,4,]
numbers[-1:-8:-1]

[4, 90, 89, 3, 45, 67, 29]

# tupple

In [8]:
#tupples are immutable
mytupple=(3,4,5,6)

In [11]:
mytupple=(3,4,5,6)
type (mytupple)

tuple

In [12]:
len (mytupple)

4

In [13]:
mytupple[3]

6

In [14]:
mytupple[2:3]

(5,)

In [15]:
#packing and unpacking in list and tupples

In [16]:
a=('asad','fahad','hina','asma')
#packing

In [17]:
w,x,y,z=a

In [18]:
w

'asad'

In [19]:
x

'fahad'

In [20]:
z

'asma'

In [25]:
rectangle=[100,200]
#in list bvalus are going to be packed and unpacked as in tupples

In [22]:
height,width=rectangle

In [23]:
height

100

In [24]:
width

200

# for loop

In [29]:
print('samreen')
print('samreen')
print('samreen')
print('samreen')
print('samreen')
print('samreen')
print('samreen')

samreen
samreen
samreen
samreen
samreen
samreen
samreen

In [26]:
for a in range(10):
    print(a,'samreen zubaid')

0 samreen zubaid
1 samreen zubaid
2 samreen zubaid
3 samreen zubaid
4 samreen zubaid
5 samreen zubaid
6 samreen zubaid
7 samreen zubaid
8 samreen zubaid
9 samreen zubaid

In [31]:
for a in range(2,5):#start and end of loop
    print(a,'samreen zubaid')

2 samreen zubaid
3 samreen zubaid
4 samreen zubaid

In [32]:
for a in range(1,10,2):#start and end and stepin loop it would generate odd number
    print(a,'samreen zubaid')

1 samreen zubaid
3 samreen zubaid
5 samreen zubaid
7 samreen zubaid
9 samreen zubaid

In [33]:
for a in range(0,10,2):#start and end and stepin loop it would generate even number
    print(a,'samreen zubaid')

0 samreen zubaid
2 samreen zubaid
4 samreen zubaid
6 samreen zubaid
8 samreen zubaid

In [34]:
for a in range(10,1,-2):#start and end and stepin loop it would generate odd number.reverse
    print(a,'samreen zubaid')

10 samreen zubaid
8 samreen zubaid
6 samreen zubaid
4 samreen zubaid
2 samreen zubaid

In [35]:
for a in range(10,0,-1):#start and end and stepin loop it would generate all numberin reverse
    print(a,'samreen zubaid')

10 samreen zubaid
9 samreen zubaid
8 samreen zubaid
7 samreen zubaid
6 samreen zubaid
5 samreen zubaid
4 samreen zubaid
3 samreen zubaid
2 samreen zubaid
1 samreen zubaid

In [38]:
for a in range(9,0,-2):#start and end and stepin loop it would generate odd reverse number
    print(a,'samreen zubaid')

9 samreen zubaid
7 samreen zubaid
5 samreen zubaid
3 samreen zubaid
1 samreen zubaid

In [44]:
my_list=['john','ada','lovelace']#for loop in list
for i in my_list:
    print(i)

john
ada
lovelace

In [46]:
my_num=[2,4,5,8,10]
for i in my_num:
    print(i*2)

4
8
10
16
20

# if i have a input in list good approach is to get out put also in list

In [51]:
my_num=[2,4,5,8,10]
my_new_list=[]
for i in my_num:
    my_new_list.append(i*2)
print(my_new_list)

[4, 8, 10, 16, 20]

In [53]:
my_num=[2,4,5,8,10]#in loop
my_new_list=[]
for i in my_num:
    my_new_list.append(i*2)
    print(my_new_list)

[4]
[4, 8]
[4, 8, 10]
[4, 8, 10, 16]
[4, 8, 10, 16, 20]

In [56]:
for i in range(6):#multiply only 3
    print(i)
    if i==3:
        print(i*2)

0
1
2
3
6
4
5

# forloop key word

In [57]:
for i in range(9):
    print(i)

0
1
2
3
4
5
6
7
8

# for stoppping loop in middle we use break

In [61]:
for i in range(9):#loop  will break not move further
    if i==3:
        break
    print (i)

0
1
2

In [60]:
for i in range(9):##only given point will scip and continue looping
    if i==3:
        continue
    print (i)

0
1
2
4
5
6
7
8

In [64]:
for i in range(5):
    pass

# take input from user  and generate a table 
#2*1=2

In [68]:
user=int(input("enter a  table number"))
for i in range(1,11):
    print(user*i)

enter a  table number6
6
12
18
24
30
36
42
48
54
60

In [71]:
table=int(input("enter a  table number: "))
for i in range(1,11):
    print(f'{table} x {i} = {table*i}')

enter a  table number: 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

# nested loop

In [73]:
for a in "pakistan":
    print(a)
    #in string loop will bring each and every character

p
a
k
i
s
t
a
n

In [75]:
for a in "pakistan":#outer loop
    for b in range (5):#inner loop
        print(a,b)#once outer loop inner loope will follow range number

p 0
p 1
p 2
p 3
p 4
a 0
a 1
a 2
a 3
a 4
k 0
k 1
k 2
k 3
k 4
i 0
i 1
i 2
i 3
i 4
s 0
s 1
s 2
s 3
s 4
t 0
t 1
t 2
t 3
t 4
a 0
a 1
a 2
a 3
a 4
n 0
n 1
n 2
n 3
n 4

In [79]:
for a in "pakistan":#outer loop
    for b in range (5):#inner loop
        print(a,b)

p 0
p 1
p 2
p 3
p 4
a 0
a 1
a 2
a 3
a 4
k 0
k 1
k 2
k 3
k 4
i 0
i 1
i 2
i 3
i 4
s 0
s 1
s 2
s 3
s 4
t 0
t 1
t 2
t 3
t 4
a 0
a 1
a 2
a 3
a 4
n 0
n 1
n 2
n 3
n 4

In [83]:
f_name=["blueray","upchuch","lojack","gizmo","do.rud"]
l_name=["zzz","burp","dogbone","droop"]
full_name=[]
for f in f_name:
    for l in l_name:
        full_name.append (f + " " + l)
full_name

['blueray zzz',
 'blueray burp',
 'blueray dogbone',
 'blueray droop',
 'upchuch zzz',
 'upchuch burp',
 'upchuch dogbone',
 'upchuch droop',
 'lojack zzz',
 'lojack burp',
 'lojack dogbone',
 'lojack droop',
 'gizmo zzz',
 'gizmo burp',
 'gizmo dogbone',
 'gizmo droop',
 'do.rud zzz',
 'do.rud burp',
 'do.rud dogbone',
 'do.rud droop']

# changing case

In [85]:
"pakistan".upper()

'PAKISTAN'

In [86]:
"pakistan".title()

'Pakistan'

In [87]:
sl_str="pakistan zindabad"
len(sl_str)

17

In [88]:
sl_str[5:11]#slicing

'tan zi'

In [89]:
sl_str[5: ]

'tan zindabad'

In [90]:
sl_str[ :11 ]

'pakistan zi'

# DICTIONARIES:WHAT THEY  DO

DICTIONARY WORKS ON KEY VALUE PAIR

In [91]:
#DEFINITION:
adict={}

In [92]:
type(adict)

dict

In [93]:
len(adict)

0

In [94]:
#adding values to a dictionary
adict['name']="hamza khan"
adict['age']=34
adict['contact']="123456"

In [95]:
adict

{'name': 'hamza khan', 'age': 34, 'contact': '123456'}

In [ ]:
#pass a key with dict name then it would be work not show index like list
#see function of dictionary on

In [100]:
bDic={"city":"khi","pop":"30m"}
bDic

{'city': 'khi', 'pop': '30m'}

In [105]:

bDict={"city":"khi","pop":"30m"}
bDict['name']="hamza khan"
bDic['age']=34
bDict['contact']="123456"
bDict

{'city': 'khi', 'pop': '30m', 'name': 'hamza khan', 'contact': '123456'}

In [ ]:
#keys
#values
#item

In [107]:
for ke in bDic.keys():
    print (ke)

city
pop
age

In [108]:
for val in bDic.values():
    print (val)

khi
30m
34

In [116]:
for ke in bDict.items():
    print(ke.val)

AttributeError: 'tuple' object has no attribute 'val'

# 34-creating a list of dictionaries

In [ ]:
ekList